<section data-ng-controller="ProjectsController"  data-ng-init="find()">

    <h1 id="overview"></h1>

    <form class="form-inline" role="form" data-ng-submit="create()">
        <div class="form-group">
            <!--<input type="text" class="form-control" id="newProjectName" placeholder="New Project ..">-->
            <input type="text" data-ng-model="title" class="form-control" id="title" placeholder="New Project  "  required autofocus="autofocus">
        </div>

    </form>

    <br>


    <table class="table">
        <tr data-ng-repeat="project in projects" data-ng-model="title">
            <td>
                <a data-ng-href="#!/projects/{{project._id}}">{{project.title}}</a>
            </td>
            <td>
                <span class="badge">{{project.fields.length}}</span>
            </td>
            <td>
                {{project.created | date:'medium'}}
            </td>
            <td>
                {{project.user.name}}
            </td>
            <!--<td ng-repeat="column in project.fields">-->
                <!--{{column.title}}-->
            <!--</td>-->

        </tr>
    </table>

    <span data-ng-hide="!projects || projects.length">No projects yet</span>

</section>