<section data-ng-controller="ProjectsController">

    <h1 id="overview">Projects</h1>

    <form class="form-inline" role="form" data-ng-submit="create()">
        <div class="form-group">
            <!--<input type="text" class="form-control" id="newProjectName" placeholder="New Project ..">-->
            <input type="text" data-ng-model="title" class="form-control" id="title" placeholder="New Project" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">
                <!--<a href="/#!/projects/create">Add</a>-->
                Add
            </button>
        </div>
    </form>

    <br>

    <table class="table"  data-ng-init="find()">
    <tr data-ng-repeat="project in projects">
        <td>
            <a data-ng-href="#!/projects/{{project._id}}">{{project.title}}</a>
        </td>

        <td>
            {{project.created | date:'medium'}}
        </td>

        <td>
            {{project.user.name}}
        </td>

        </tr>
    </table>

    <h1 data-ng-hide="!projects || projects.length">No projects yet. <br> Why don't you <a href="/#!/projects/create">Create One</a>?</h1>

</section>