
<!-- Get the type ahead working HTML 5 -->

<!--<section data-ng-controller="ProjectsController" data-ng-init="findOne()">-->

<!--</section>-->

<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <br>
    <datalist id="FieldsList">
        <div data-ng-repeat="field in fields" data-ng-model="title" >
            <option value="{{field.title}}">
        </div>
    </datalist>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" role="form" data-ng-submit="update()">
                <div class="form-group">
                    <input type="text" data-ng-model="project.title" class="form-control" id="title" required autofocus="autofocus" value="{{project.title}}">
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="btn-group pull-right">
                <button type="button" data-ng-click="copyProject()" class="btn btn-default">Copy Project</button>
                <button type="button" class="btn btn-danger" data-ng-click="remove(project)">Delete</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row" >
        <div class="col-md-6">
            <input type="text" data-ng-model="project.newField"  class="form-control pull-left" id="field" placeholder="Add Field ..." list="FieldsList">
        </div>
        <div class="col-md-6">
            <button class="btn btn-default" ng-click="addField()">Add</button>
            <button class="btn btn-success" data-ng-show="updateRequired" ng-click="update()" >Update</button>
        </div>
        <br>
        <br>
        <div class="col-md-12">
            <table class="table">
                <tr data-ng-repeat="column in project.fields" data-ng-model="project.fields">
                    <td>
                        <a data-ng-href="#!/fields/{{column._id}}">{{column.title}}</a>
                    </td>
                    <td>
                        {{column.type}}
                    </td>
                    <td>
                        {{column.length}}
                    </td>
                    <td>
                        <button type="button"  class="btn btn-warning btn-sm glyphicon glyphicon-trash pull-right" data-ng-click="removeField(column)"> Delete</button>
                    </td>
                </tr>
            </table>
       </div>

    </div>

</section>



<!--<div class="col-md-6">-->
<!--<div class="col-md-6">-->
<!--<h4> Available Fields</h4>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<input type="text" data-ng-model="searchText" class="form-control pull-right" id="searchText"  placeholder="Filter Fields ...">-->
<!--</div>-->

<!--<table class="table">-->
<!--&lt;!&ndash; | filter:title&ndash;&gt;-->
<!--<tr data-ng-repeat="field in fields | filter:searchText" data-ng-model="title">-->
<!--<td>-->
<!--<a data-ng-href="#!/fields/{{field._id}}">{{field.title}}</a>-->
<!--</td>-->
<!--<td>-->
<!--{{field.type}}-->
<!--</td>-->
<!--<td>-->
<!--{{field.length}}-->
<!--</td>-->
<!--<td >-->
<!--<button class="pull-right glyphicon glyphicon-arrow-right" ng-click=""></button>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--<div class="col-md-6">-->
