<section data-ng-controller="ConnectionsController" data-ng-init="find()">
    <ul class="connections unstyled">
        <li data-ng-repeat="connection in connections">
            <span>{{connection.created | date:'medium'}}</span> /
            <span>{{connection.user.name}}</span>
            <h2><a data-ng-href="#!/connections/{{connection._id}}">{{connection.title}}</a></h2>
            <div>{{connection.content}}</div>
        </li>
    </ul>
    <h1 data-ng-hide="!connections || connections.length">No connections yet. <br><a href="/#!/connections/create">Create One</a></h1>
</section>