<section data-ng-controller="FieldsController"  data-ng-init="find()">

    <h1 id="overview"></h1>

    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" role="form" data-ng-submit="create()">
                <div class="form-group">
                    <input type="text" data-ng-model="field.title" class="form-control" id="title" placeholder="New Field" required autofocus="autofocus">
                </div>
                <div class="form-group" data-ng-controller="ReferencesController">
                    <select class="form-control" ng-model="field.type" data-ng-options="dataType for dataType in dataTypes"></select>
                </div>
                 <button type="submit" class="btn btn-default">Add</button>
          </form>
        </div>

        <div class="col-md-4">
              <input type="text" data-ng-model="searchText" class="form-control" id="searchText" size="30" placeholder="Search Table ...">
        </div>

    </div>

    <br>

    <table class="table">
    <!-- | filter:title-->

        <tr data-ng-repeat="field in fields | filter:searchText" data-ng-model="title">

            <td>
               <a data-ng-href="#!/fields/{{field._id}}/edit">{{field.title}}</a>
            </td>
            <td>
                {{field.type}}
            </td>
            <td>

                {{field.created | date:'medium'}}
            </td>
            <td>

                <!--<button type="submit" class="btn btn-mini btn-default" data-ng-click="delete()">Delete</button>-->
                <button type="button"  class="btn btn-warning btn-sm glyphicon glyphicon-trash pull-right" data-ng-click="remove(field)"> Delete</button>
            </td>

        </tr>
    </table>

    <span data-ng-hide="!fields || fields.length">No fields yet</span>

</section>

