<section data-ng-controller="FieldsController"  data-ng-init="find()">

    <h1 id="overview"></h1>

    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" role="form" data-ng-submit="create()">
                <div class="form-group">
                    <input type="text" data-ng-model="title" class="form-control" id="title" placeholder="New Field" required autofocus="autofocus">
                </div>
                <div class="form-group">
                    <select class="form-control" data-ng-model="type" id="type" >
                        <option>Date</option>
                        <option>Date and Time</option>
                        <option>Line</option>
                        <option>List</option>
                        <option>Number</option>
                        <option>Money</option>
                        <option>Paragraph</option>
                        <option>Users</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" data-ng-show="type=='Number'" data-ng-model="length" class="form-control" id="length" placeholder="Length ..." required>
                </div>
                <button type="submit" class="btn btn-default">Add</button>
          </form>
        </div>

        <div class="col-md-4">
              <input type="text" data-ng-model="searchText" class="form-control" id="searchText" size="30" placeholder="Search Table ...">
        </div>

    </div>

    <br>

    <table class="table">
    <!-- | filter:title-->
        <tr data-ng-repeat="field in fields | filter:searchText" data-ng-model="title">
            <div data-ng-controller="FieldsController">
            <td>
                <a data-ng-click="allowEdit()">{{field.title}}</a>
            </td>
            <td>
                <div data-ng-show="allowFieldEdit" data-ng-controller="ReferencesController">
                    <select data-ng-model="field.type"
                            data-ng-options="type for type in dataTypes">
                    </select>
                </div>
                <div data-ng-hide="allowFieldEdit">
                    {{field.type}}
                </div>
            </td>
            <td>
                {{field.created | date:'medium'}}
            </td>
            <td>
                {{field.user.name}}
            </td>
            <td>
                <button type="submit" class="btn btn-mini btn-default" data-ng-click="update()">Update</button>
            </td>
            </div>
        </tr>
    </table>

    <span data-ng-hide="!fields || fields.length">No fields yet</span>

</section>

