<section data-ng-controller="FieldsController"  data-ng-init="find()">

    <h1 id="overview"></h1>

    <form class="form-inline" role="form" data-ng-submit="create()">
        <div class="form-group">
            <input type="text" data-ng-model="title" class="form-control" id="title" placeholder="New Field" required autofocus="autofocus">
        </div>
        <div class="form-group">
            <!--<input type="text" data-ng-model="type" class="form-control" id="type" placeholder="Type" required>-->
            <select class="form-control" data-ng-model="type" id="type" >
                <option>Line</option>
                <option>Paragraph</option>
                <option>Date</option>
                <option>Date and Time</option>
                <option>Number</option>
                <option>Money</option>
            </select>
        </div>
            <button type="submit" class="btn btn-default">Add</button>
    </form>

    <br>


    <table class="table">
    <tr data-ng-repeat="field in fields" data-ng-model="title">
        <td>
            <a data-ng-href="#!/fields/{{field._id}}">{{field.title}}</a>
        </td>

        <td>
            {{field.type}}
        </td>


        <!--<td>-->
            <!--{{field._id }}-->
        <!--</td>-->

        </tr>
    </table>

    <span data-ng-hide="!fields || fields.length">No fields yet</span>

</section>