<div class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="HeaderController">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="/">KABOODLE - Config</a>
            </li>
            <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a href="#!/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav" data-ng-hide="global.authenticated">
                <li class="active">
                    <a href="signup">Signup</a>
                </li>
                <li>
                    <a href="signin">Signin</a>
                </li>
            </ul>
        </div>
    <!--<ul class="nav navbar-nav" data-ng-show="global.authenticated">-->
        <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
				<!--{{global.user.name}} <b class="caret"></b>-->
			<!--</a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="/signout">Signout</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->

    </div>
</div>